*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  background:#8D8C8C;
}

h1{
  color: #292828;
  text-shadow: 0px 1px 2px #555;
}

h3{
  color: #888787;
  text-shadow: 0px 1px 1px rgb(24, 24, 24);
}

.container {
  max-width: 1200px; 
  border:solid grey 2px; 
  margin-top: 50px; 
  background-color: #292828; 
  color:#E1E0E0;
}

.page-header {
  background: #5B5A5A; 
  color:#ECEAEA; 
  text-align: center;  
  margin-left: -15px; 
  margin-right: -15px;
}

.card {
  background-color: #E1E0E0; 
  color:#292828;
}

#btnRow {
  width:100%; 
  text-align: center;
}

#btnColumn {
  display: block;
  margin: 0 auto;
}

#pwdGenBtn {
  margin-right: 5px;
}

#clearBtn {
  margin-left: 5px;
}

#displayScreen{
  background-image: linear-gradient(0deg, #fabd14 16.67%, #b39e24 16.67%, #b39e24 50%, #fabd14 50%, #fabd14 66.67%, #b39e24 66.67%, #b39e24 100%);
  background-size: 5.00px 6.00px;
  box-shadow: inset 0 0 10px; 
  color:#0C0C0C;
  font-size: larger;
  text-shadow: 0px 1px 2px rgb(109, 108, 108);
}

@media screen and (max-width: 768px){
  .container {
    margin-top: 30px; 
  }
}

@media screen and (max-width: 400px){
  .container {
    margin-top: 0px; 
  }
}

